@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500&subset=latin,latin-ext);

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.0;
    color: #151515;
    padding-top: 70px;
}

.wrap {
    width: 1000px;
    margin: auto;
}

.wrap.narrow {
    width: 600px;
}

.clear {
    clear: both;
}

a {
    color: #2962FF;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/*
 * NAV
 */
#nav {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 20px 0px;
    height: 30px;
    background: rgba(10, 10, 10, 0.9);
    z-index: 100;
}

#nav #logo {
    float: left;
    line-height: 30px;
    height: 30px;
}

#nav #logo a {
    display: block;
    font-size: 30px;
    padding-top: 2px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

#nav #logo a span {
    font-weight: 100;
}

#nav nav {
    float: right;
    padding-top: 1px;
    line-height: 30px;
}

#nav nav ul {
    list-style: none;
}

#nav nav ul li {
    display: inline-block;
    margin-left: 20px;
}

#nav nav ul li a {
    display: inline-block;
    position: relative;
    color: #bbbbbb;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

#nav nav ul li a::after {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 2px;
    height: 3px;
    background: #333333;
    width: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#nav nav ul li.current a,
#nav nav ul li a:hover {
    color: #ffffff;
}

#nav nav ul li.current a::after,
#nav nav ul li a:hover::after {
    width: 100%;
    background: #ffffff;
}

#nav #get-on-github {
    float: right;
    margin-left: 40px;
}

#nav #get-on-github a {
    display: block;
    margin: -6px 0px;
    padding: 6px 10px 6px 7px;
    text-decoration: none;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#nav #get-on-github a:hover {
    background: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    color: #333333;
}

#nav #get-on-github a svg {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    fill: #ffffff;
    fill: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#nav #get-on-github a:hover svg {
    fill: #333333;
}

#nav #get-on-github a span {
    display: inline-block;
    height: 30px;
    line-height: 32px;
    font-size: 13px;
    text-transform: uppercase;
}

/*
 * INTRO
 */
#intro {
    background: #151515 url('../assets/header.jpg') no-repeat top center;
    background-attachment: fixed;
    color: #ffffff;
    height: 180px;
    text-align: left;
    padding-top: 150px;
    margin-top: -70px;
}

#intro .title {
    font-size: 60px;
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 16px;
}

#intro .title span {
    font-weight: normal;
    text-transform: uppercase;
}

#intro p.description {
    font-weight: 100;
    color: #ffffff;
    font-size: 25px;
}

#intro.compact {
    height: 130px;
    padding-top: 120px;
    text-align: left;
}

#intro.compact p.description {
    font-size: 20px;
}

#intro.compact .title {
    font-size: 50px;
    margin-bottom: 6px;
    font-weight: 100;
}


/*
 * CONTENT LAYOUT
 */
#main {
    padding: 50px 0px;
}

#main .sidebar {
    float: left;
    width: 250px;
}

#main .content {
    margin-left: 300px;
}

#main .separated {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #dddddd;
}

/*
 * SIDEBAR
 */
#main .sidebar aside {
    margin-bottom: 30px;
    font-size: 16px;
}

#main .sidebar aside .title {
    font-size: 1.75em;
    line-height: 1.225;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eee;
    font-weight: 100;
    margin-bottom: 10px;
}

#main .sidebar aside .title a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 0px 10px;
}

#main .sidebar aside nav ul {
    list-style: none;
}

#main .sidebar aside nav ul li {
    margin-bottom: 5px;
}

#main .sidebar aside nav ul li a {
    display: block;
    text-decoration: none;
    color: #2962FF;
    padding: 10px 10px;
    border-radius: 3px;
}

#main .sidebar aside nav ul li a:hover {
    background: #e9e9e9;
}

#main .sidebar aside nav ul li.current a,
#main .sidebar aside nav ul li.current a:hover {
    color: #ffffff;
    background: #2962FF;
}

/*
 * FOOTER
 */
#footer {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 50px 0px 40px 0px;
}

#footer .column-a {
    float: left;
    width: 300px;
}

#footer .column-b {
    float: left;
    width: 300px;
}

#footer .column-c {
    float: right;
    width: 300px;
    text-align: right;
}

#footer p {
    line-height: 30px;
    font-size: 15px;
}

#footer h2 {
    line-height: 30px;
    font-size: 26px;
    font-weight: 100;
    color: #444444;
}

/* LOGO */
#footer-logo {
    line-height: 30px;
}

#footer-logo a {
    display: block;
    font-size: 30px;
    padding-top: 2px;
    color: #666666;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

#footer-logo a:hover {
    color: #2962FF;
}

#footer-logo a span {
    font-weight: 100;
}

#footer-logo a span.sub {
    display: block;
    font-size: 15px;
    font-weight: 300;
}

/* GITHUB */
#footer .github p {
    line-height: 30px;
}

#footer .github svg {
    width: 28px;
    height: 28px;
    fill: #333333;
    float: left;
    margin-right: 10px; 
}

#footer .github a.profile {
    font-size: 18px;
    color: #333333;
    text-decoration: none;
}

#footer .github a.profile:hover {
    color: #2962FF;
}

#footer .github a.issue {
    margin-left: 38px;
}

/* SIGNATURE */
#signature {
    padding: 20px 0px;
    font-size: 13px;
    /*background: #f1f1f1;*/
    color: #666666;
}

#signature .left {
    float: left;
}

#signature .right {
    float: right;
}

/*
 * PRODUCTS TEMPLATE
 */
.products {
    padding-bottom: 25px;
    margin-bottom: 50px;
    border-bottom: 1px solid #dddddd;
}

.products.slim {
    border-bottom: 0px none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
}

.products ul {
    list-style: none;
    margin: 0px 0px!important;
    padding: 0px!important;
    text-align: center;
}

.products ul li {
    display: inline-block;
    margin: 5px 5px 30px 5px;
    text-align: center;
    vertical-align: top;
    width: 164px;
}

.products ul li a {
    display: block;
    text-decoration: none;
}

.products ul li a:hover {
    color: #2962FF;
    text-decoration: none;
}

.products ul li a .icon {
    display: inline-block;
    padding: 20px;
    border-radius: 44px;
    background: #444444;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.products ul li a svg {
    width: 48px;
    height: 48px;
    fill: #ffffff;
}

.products ul li a:hover .icon {
    background: #2962FF;
}

.products ul li a .label {
    display: block;
    padding-top: 10px;
    color: #333333;
    font-size: 19px;
    font-weight: 300;
    -webkit-transition: fill 0.3s;
    transition: fill 0.3s;
}

.products ul li a:hover .label {
    color: #2962FF;
}

.products.slim ul li a .icon {
    padding: 14px;
    border-radius: 32px;
}

.products.slim ul li a svg {
    width: 36px;
    height: 36px;
}

.products.slim ul li a .label {
    padding-top: 6px;
}