@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);

* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #ffffff;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333333;
}

a {
	color: #1976D2;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

a:hover {
	color: #F44336;
}

.clear {
	clear: both;
}

strong {
	font-weight: 400;
	color: #000000;
}

/* HEADER */
header {
	padding: 30px;
	background: #f5f5f5;
}

header h1 {
	font-weight: 100;
	font-size: 48px;
	line-height: 1.0;
}

header h1 a {
	text-decoration: none;
}

header p {
	padding-top: 16px;
	font-weight: 300;
}

header p.label {
	padding-top: 5px;
	font-size: 19px;
}

/* MAIN WRAP */
#main {
	padding: 30px;	
}

#main .demo-item {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#main .demo-item h2 {
	font-weight: 300;
	font-size: 30px;
	margin-bottom: 8px;
}

#main .demo-item h2 a {
	text-decoration: none;
}

#main .demo-item p {
	color: #333333;
	font-weight: 300;
}

/* EXAMPLE */
#example {
	margin-left: 880px;
}

#example h2 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 16px;
	line-height: 1.0;
	color: #1976D2;
}

#example .case {
	margin-bottom: 50px;
}

#example p {
	margin-bottom: 16px;
}

#example .description {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	margin-bottom: 16px;
}

#example .description p {
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 0px;
}

#example .result-list {
	list-style: none;
	margin-bottom: 20px;
}

#example .result-list li {
	padding: 5px 10px;
	border-left: 4px solid #cccccc;
	margin-bottom: 3px;
}

#example .result-list li.highlight {
	border-left-color: #1976D2;
}

#example .key {
	display: inline-block;
	width: 120px;
}

#example .success {
	color: #558B2F;
}

#example .fail {
	color: #ff0000;
}

/* CODE */
#code {
	width: 820px;
	float: left;
	margin-right: 30px;
	padding-right: 30px;
	border-right: 1px solid #dddddd;
}

#code h2 {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 16px;
	line-height: 1.0;
	color: #1976D2;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 8px;
}

#code .syntaxhighlighter {
	/*max-height: 480px;*/
	margin-bottom: 50px!important;
}