@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);

* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #ffffff;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333333;
	padding: 40px;
}

h1 {
	font-weight: 100;
	font-size: 52px;
	margin-bottom: 50px;
	line-height: 1.0;
}

h2 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 16px;
	line-height: 1.0;
	color: #1976D2;
}

.case {
	margin-bottom: 50px;
}

p {
	margin-bottom: 16px;
}

p.description {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	font-weight: 300;
	margin-bottom: 25px;
}

button {
	padding: 10px;
}

#code {
	width: 800px;
	float: left;
	margin-right: 50px;
	padding-right: 50px;
	border-right: 1px solid #dddddd;
}

#example {
	margin-left: 900px;
}

.syntaxhighlighter {
	/*max-height: 480px;*/
}

.clear {
	clear: both;
}